<ol class="breadcrumb">
  <li><%= link_to t(:teams_path,scope: :links), teams_path %></li>
  <li class="active"><%= @team.name %></li>
</ol>

<h2><%= @team.name %> <small><%= link_to 'Edit', edit_team_path(@team) %></small></h2>
<% if @team.inboxes.empty? %>
  <%= render partial: 'edit_prompt', locals: { team: @team } %>
<% else %>
  <ol class="inbox-list nav nav-tabs nav-justified">
    <% @team.inboxes.each_with_index do |inbox| %>
      <li role="presentation" class="inbox-tab <%= if_active_tab(inbox,'active') %>"><%= link_to inbox.name, [@team,inbox] %></li>
    <% end %>
    <section class='current-inbox'>
      <%= render partial: 'inboxes/inbox', locals: {inbox: @active_inbox, items: @active_items } %>
    </section>
  </ol>
<% end %>
