
<li class="list-group-item list-item">
  <h4><%= formless_item.name %></h4>
  <dl class='details-list list-inline dl-inline'>
  <% formless_item.each_primary_detail do |key,value| %>
    <dt><%= key.titleize %></dt><dd><%= value %></dd>
  <% end %>
  </dl>
  <dl class='associations-list list-inline dl-inline'>
  <% formless_item.each_primary_association do |key,values| %>
    <dt><%= key.titleize %></dt><dd>
      <ul class='list-inline'>
        <% values.each do |value| %>
          <li><%= value %></li>
        <% end %>
      </ul>
    </dd>
  <% end %>
  </dl>
</li>

