<%= form.fields_for :items do |item_form| %>
<li class="list-group-item list-item"><label class="full-item"><div class="row">
<div class='col-sm-8'>
<h4><%= item.name %></h4>
<dl class='details-list list-inline dl-inline'>
<% item.each_primary_detail do |key,value| %>
  <dt><%= key.titleize %></dt><dd><%= value %></dd>
<% end %>
</dl>
<dl class='associations-list list-inline dl-inline'>
<% item.each_primary_association do |key,values| %>
  <dt><%= key.titleize %></dt><dd>
    <ul class='list-inline'>
      <% values.each do |value| %>
        <li><%= value %></li>
      <% end %>
    </ul>
  </dd>
<% end %>
</dl>
</div>
<% if batchable %>
  <div class='col-sm-4'>
    <%= item_form.label item.uuid, "Select #{item.name}", class: 'checkbox-item-label' %>
    <%= item_form.check_box item.uuid, class:"checkbox-item" %>
    <span></span>
  </div>
<% end %>
</div>
</label></li>
<% end %>
