<ol class="breadcrumb">
  <li><%= link_to t(:teams_path,scope: :links), teams_path %></li>
  <li><ul class='breadcrumb-sublist'><% @batch.inboxes.first.teams.each do |team| %>
    <li><%= link_to team.name, [team,@batch.inboxes.first] %></li>
  <% end %></ul></li>
  <li class="active">Batch <%= @batch.id %></li>
</ol>
<h1>Batch <small><%= @batch.id %></small></h1>
<dl>
  <dt><%= Batch.human_attribute_name(:user) %></dt><dd><%= @batch.user.login %></dd>
  <dt><%= Batch.human_attribute_name(:created_at) %></dt><dd><%= l(@batch.created_at, format: :long) %></dd>
</dl>
<ul id="item-list" class="list-group">
  <%= render partial: "items/formless_item", collection: @batch.items %>
</ul>
